<%- include("Partials/header") -%>



<h1>Compose</h1>

<div>
    <form class= "item" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" placeholder="New Text" name="newText">
</div>
<div class="form-group">
    <label >Post</label>
    <textarea class="form-control" name="paraText" cols="40" rows="5"></textarea>
</div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>

<%- include("Partials/footer") -%>